[submodule "libs/spider"]
	path = libs/spider
	url = git@github.com:duxins/php-spider.git
[submodule "libs/PHPMailer"]
	path = libs/PHPMailer
	url = git@github.com:duxins/PHPMailer.git
[submodule "libs/logger"]
	path = libs/logger
	url = git@github.com:duxins/php-logger.git
